<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FindPoke</title>
</head>
<body>
    <h1>Find Pokemon</h1>
    <form action="/poke" method="get">
        <input type="text" name="pokeId" placeholder="001">
        <input type="submit" value="Ok">
    </form>
    <% if (poke) {%>
        <p>Nome: <%=poke.name%></p>
        <p>Type: <%=poke.type%></p>
    <% } %>    
</body>
</html>